run_utils/py_run_utils/uv.lock
experiments/*
!experiments/archive.sh
!experiments/exp.EXCLAIM_COUPLED.run
!experiments/inputs.sh
!experiments/namelists.sh
!experiments/settings*.sh
r2b7_restart_test/*
